body {
    background-color: #222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  #login{
    display: block;
  }
  
  .container {
    text-align: center;
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  input {
    padding: 10px;
    width: 250px;
    margin: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #fff;
    color: #222;
  }

  .links {
    margin-top: 20px;
  }

  .links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
  }

  .links a:hover {
    color: #ff0;
  }